body {
  background-color: rgb(124, 64, 146);
}

/* body에 한꺼번에 넣어도 됨 */
.container {
  display: flex;
  /* 세로로 나란히 */
  flex-direction: column;
  /* 맨 위 중앙 */
  justify-content: center;
  /* 중앙의 중앙 */
  align-items: center;
  height: 100vh;
  /* 폰트도 중앙 */
  text-align: center;
  /* 글씨체 두껍게 */
  font-weight: bold;
}

#tdate {
  font-size: 3rem;
  margin-bottom: 20px;
}

#clock {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#countdown {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#quote {
  font-size: 2rem;
  margin-bottom: 20px;
}
