#section1 {
  position: fixed;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: right;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section h1 {
  font-size: 3rem;
  text-decoration: underline;
  color: white;
  padding-top: 20px;
  /* margin: 20px; */
  /* width: 100%; */
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: flex-end; */
}

section nav {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
  /* width: 100%; */
  align-items: center;
}

nav a {
  color: white;
  font-size: 1.2rem;
}

#section2 {
  background-color: white;
  height: 100%;
  padding-left: 230px;
}

#section2 h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

article {
  text-align: center;
}

article img {
  padding-bottom: 20px;
  /* position: relative; */
  width: 500px;
  max-width: 300px;
}

article p {
  padding-right: 20px;
  text-align: justify;
  line-height: 1.2;
}
