* {
  margin: 0;
  /* 안쪽 -> 바깥쪽 */
  padding: 0;
  /* 바깥쪽 -> 안쪽 */
  box-sizing: border-box;
}
body {
  background-color: indigo;
  background: linear-gradient(purple, pink);
  /* 배경색 그라데이션 주기 */
  /* height: 100vh; */
  padding: 20px;
  display: flex;
}

#profile-card {
  border: 3px solid white;
  border-radius: 25px;
  width: 350px;
  height: 450px;
  margin: auto;
  padding: 20px;
  /* poadding: 바깥에서 안쪽에 공간을 주는 역할 */
  color: white;
}

.profile-image {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  background-image: url(assets/hui.png);
  background-size: cover;
  background-position: center;
}

#huibao {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#profile-card a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  border: 3px solid white;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

#profile-card1 {
  border: 3px solid white;
  border-radius: 25px;
  width: 350px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: white;
}
#profile-card1 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
#profile-card1 a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  border: 3px solid white;
  margin: 15px;
  padding: 10px;
  /* content와 테두리 사이에 공백주기... */
}

#profile-card1 a:hover {
  background-color: white;
  color: black;
}
