body {
  background-color: lightgoldenrodyellow;
  background: linear-gradient(burlywood, lightgoldenrodyellow);
  height: 100vh;
  padding: 20px;
  display: flex;
}

#cardbox {
  border: 3px solid burlywood;
  border-radius: 25px;
  width: 350px;
  height: 400px;
  margin: auto;
  padding: 20px;
}

#cardbox-image {
  width: 200px;
  height: 200px;
  background-image: url(assets/hui.png);
  background-size: cover;
  border-radius: 50%;
  margin: 15px auto;
}

#huibao {
  font-size: 1.6rem;
  font-weight: bold;
  color: burlywood;
  text-align: center;
}

#cardbox a {
  display: block;
  text-decoration: none;
  color: burlywood;
  font-size: 1.4rem;
  font-weight: bold;
  border: 3px solid;
  padding: 10px;
  margin: 8px;
  text-align: center;
}

#cardbox a:hover {
  background-color: burlywood;
  color: white;
}
